body {
  background: #e5e5e5;
}

.app-container {
  max-width: 430px;
  margin: 24px auto;
  min-height: 100vh;
  background: #fff;
  position: relative;
  box-shadow: 0 0 24px rgba(0,0,0,0.10);
  border-radius: 18px;
  overflow: hidden;
  
}